# Import parent workspace settings
import %workspace%/../../shared.bazelrc

build --define=apple.experimental.tree_artifact_outputs=1

# Exercise the extra flags feature

build --@com_github_buildbuddy_io_rules_xcodeproj//xcodeproj:extra_common_flags='--verbose_failures'
build --@com_github_buildbuddy_io_rules_xcodeproj//xcodeproj:extra_generator_flags='--noverbose_failures'
build --@com_github_buildbuddy_io_rules_xcodeproj//xcodeproj:extra_build_flags='--noverbose_failures'
build --@com_github_buildbuddy_io_rules_xcodeproj//xcodeproj:extra_indexbuild_flags='-noverbose_failures'
build --@com_github_buildbuddy_io_rules_xcodeproj//xcodeproj:extra_swiftuipreviews_flags='--noverbose_failures'

# Use a user.bazelrc if it exists
try-import %workspace%/user.bazelrc
