# To update these lines, execute
# `bazel run @contrib_rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=examples/cc/external,examples/ios_app,examples/ios_app/CoreUtilsObjC,examples/ios_app/Example,examples/ios_app/ExampleObjcTests,examples/ios_app/ExampleResources,examples/ios_app/ExampleTests,examples/ios_app/ExampleUITests,examples/ios_app/TestingUtils,examples/ios_app/Utils,examples/ios_app/external,examples/ios_app/test/fixtures,examples/ios_app/test/fixtures/bwb.xcodeproj/rules_xcodeproj/links,examples/ios_app/test/fixtures/bwx.xcodeproj/rules_xcodeproj/links,examples/ios_app/third_party
query --deleted_packages=examples/cc/external,examples/ios_app,examples/ios_app/CoreUtilsObjC,examples/ios_app/Example,examples/ios_app/ExampleObjcTests,examples/ios_app/ExampleResources,examples/ios_app/ExampleTests,examples/ios_app/ExampleUITests,examples/ios_app/TestingUtils,examples/ios_app/Utils,examples/ios_app/external,examples/ios_app/test/fixtures,examples/ios_app/test/fixtures/bwb.xcodeproj/rules_xcodeproj/links,examples/ios_app/test/fixtures/bwx.xcodeproj/rules_xcodeproj/links,examples/ios_app/third_party

# Import Shared settings
import %workspace%/shared.bazelrc

# Use a local.bazelrc if it exists.
try-import %workspace%/user.bazelrc

# These values are only relevant for the parent workspace
build:cache --//config:integration_test_config=cache
build:workflows --//config:integration_test_config=workflows
