.DS_Store

/bazel-*

**/*.xcodeproj/xcuserdata/*
**/*.xcodeproj/project.xcworkspace/xcuserdata/*
**/*.xcodeproj/*

# Symlink to `$DEVELOPER_DIR/Toolchains/XcodeDefault.xctoolchain/usr/lib`
**/*.xcodeproj/rules_xcodeproj/lib

user.bazelrc
