/bazel-*

**/*.xcodeproj/xcuserdata/*
**/*.xcodeproj/project.xcworkspace/xcuserdata/*
**/*.xcodeproj/rules_xcodeproj/links
**/*.xcodeproj/rules_xcodeproj/toplevel_cache_buster
**/*.xcodeproj/*

user.bazelrc
