# Mark fixtures as generated
test/fixtures/*/*.xcodeproj/** linguist-generated
test/fixtures/*/*_spec.json linguist-generated
examples/*/test/fixtures/*.xcodeproj/** linguist-generated
examples/*/test/fixtures/*_spec.json linguist-generated
