--swiftversion 5.5

# If we enable indent, it will indent multiline strings. The code style in this
# repository is to allow them to start at position 1 on the line.
--disable indent

# The code style in this repository requires return if it's not on the same
# line as the { }.
--disable redundantReturn

--importgrouping "testable-last"

--exclude **/bazel-output-base
