# Import parent workspace settings
import %workspace%/../../shared.bazelrc

build --macos_minimum_os=12.0

build --experimental_cc_implementation_deps

build --force_pic

# Use a user.bazelrc if it exists
try-import %workspace%/user.bazelrc
