<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>TEAMID.APP_CLIP_BUNDLE_ID</string>
	<key>com.apple.developer.parent-application-identifiers</key>
	<array>
		<string>TEAMID.IOS_BUNDLE_ID</string>
	</array>
</dict>
</plist>
