<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>This app requires microphone acess to record your greeting.</string>
  <key>NSCameraUsageDescription</key>
  <string>This app requires camera access to capture your dog photos.</string>
</dict>
</plist>
